# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS metadata
.DS_Store

# IDEs
.vscode/
.idea/

# Output builds
dist
dist-ssr
*.local

# Node modules (global e por pasta)
node_modules/
musica-backend/node_modules/
musica-frontend/node_modules/

# Ambiente
musica-backend/.env
musica-frontend/.env

# Cache do Vite e outros
musica-frontend/.vite
musica-frontend/.cache
musica-frontend/.next